.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.modal__body {
    background-color: beige;
    margin: auto;
    position: relative;
    z-index: 3;
    border-radius: 5px;

}

.auth-form {
    width: 500px;
}

.auth-from__container {
    padding: 0px 40px;
}


.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__switch-bnt {
    font-size: 1.4rem;
    font-weight: 500;
    color: red;
    cursor: pointer;
}
.auth-form__heading{
    font-size: 1.4rem;
    font-weight: 500;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 94%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid bisque;
}

.auth-form__input:focus {
    border-color: #FF3333;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__text,
.auth-form__text--x {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.auth-form__link {
    color: red;
    text-decoration: none;
}

.btn {
    margin-bottom: 20px;
    min-width: 140px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.0rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;

}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--primary {
    color: bisque;
    background-color: red;
}

.auth-form_controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form_controls-back {
    margin-right: 10px;
}

.auth-form__socials {
    background-color: #FFFFFF;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;


}

.btn--size-s {
    height: 35px;
    font-size: 10px;
}

.btn--with__icon {
    margin-top: 60px;
}


.auth-form__socials-label--f {
    color: bisque;
    background-color: blue;
    height: 35px;
    width: 200px;
    margin-top: -40px;
}

.auth-form__socials-label--g {
    color: beige;
    background-color: #FF6666;
    height: 35px;
    width: 200px;
    margin-top: -40px;
}

.auth-form__socials--gg,
.auth-form__socials--fb {
    margin-top: 25px;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid red;
    margin: 2px 10px 0px;
    height: 20px;
}
.auth-form__help-forgot{
    color: #FF9966;

}



/*.btn.btn--disabled{*/
/*    cursor: default;*/
/*}*/