* {

    /*box-sizing: border-box;*/

}


.row {
    margin-left: -12px;
    margin-right: -12px;
}

.header {
    background-color: #111111;
    height: 90px;
    width: 100%;
    position: fixed;

}


.header__nav--list-img {
    width: 12vw;
    height: 16vh;
    margin-top: -1%;
    margin-left: 5%;
}
.header__nav--list{
    display: flex;
    margin-top: 30px;

}
.header_item{
    margin-left: 1px;
}
.header__login{
    margin-left: 820px;
}

* {
    font-family: 'Poppins', sans-serif;
}

.search-box {
    position: relative;
    height: 50px;
    width: 450px;
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
}

.search-box .search-btn {
    height: 50px;
    width: 50px;
    color: #fff;
    transform: translateY(-50%);
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}

.search-box .search-btn {
    position: absolute;
    top: 50%;
    right: 6pt;
    transform: translateY(-50%);

}

.search-box {
    margin-top: 20px;
    margin-left: 100px;

}

.header__cart-item {
    color: black;
    padding-left: 50px;
    text-decoration: none;
    font-size: 18px;

}


.article {
    /*background-color: #EEEEEE;*/
    margin-top: -16px;

}

.article__left-btn {
margin-left: -12px;
    height: 40px;
    width: 14.8vw;
    background: red;
    color: white;
    border: none;
    margin-top: 0.2px;


}
.article{
    margin-left: 30px;
    height: 100%;
    margin-top:1px;
    width: 15vw;
}

.article__left-item {
    list-style: none;
    width: 200px;
    padding: 0 10px;
    margin-left: 120px;
}

.article__left-ul {
    border: 1px solid white;
}

.section__content {
    width: 78vw;
    margin-left: 40px;
}

.aside {
    background-color: palegreen;
}

.footer {
    background-color: palevioletred;
}

.article__section {
    display: flex;
}

