* {
    margin: 1px;
    box-sizing: border-box;
}
.row{
    height: 100%;
}

/*tạo*/
.row__lcr {
    display: flex;
    height: 700px;
}

.header {
    height: 70px;
    background-color: #444444;

}

/*cho chữ lên 1 dòng và between */
.header__nav {
    font-family: Arial;
    display: flex;
    justify-content: space-between;

}

/*cách chữ ra*/
.header__nav--item {
    margin: 10px;
    position: relative;
}

.header__nav--item {
    margin-top: 15px;
}

/*cách khảng cách hai đầu*/
.girl {
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}

/*làm mất dấu chấm
mất gạch chân
chỉnh font chữ*/
.header__nav--item,
.header__nav--item--link {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 300;
}

/*làm mờ chữ khi di chuột vào*/
.header__nav--item:hover,
.header__nav--item--link:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
}

.row__lcr--left {
    padding-left: 50px;
    background-color: #DDDDDD;
    margin-right: 32px;
    height: 100%;
}

/*làm mất dấu chấm và mất gạch chân*/
.row__lcr--left--item,
.row__lcr--left--link {
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 40px;
}

/*canh khoảng cách giữ hai dòng với nhau*/
.row__lcr--left--link {
    line-height: 50px;
    font-size: 20px;
}

.row__lcr--right {
    background-color: #DDDDDD;
}

.row__lcr--content {
    background-color: #FFFFFF;
    font-size: 20px;
    height: 100%;

}

.row__lcr--footer {
    font-size: 30px;
    height: 40px;
    background-color: #888888;
    text-align: center;
}

.row__lcr--right--item,
.row__lcr--right--btn {
    list-style: none;
}

/*chiều dài của nội dung*/
.row__lcr--content {
    height: 630px;
}

/*khoảng cách giữa hai nội dung với nhau*/
.row__lcr--content--item {

}

/*thẻ button làm rộng  và dài khung ra .bo tròn đường khung chỉnh cỡ chữ */
.row__lcr--right--btn {
    margin-top: 40px;
    margin-right: 32px;
    line-height: 20px;
    min-width: 100px;
    height: 60px;
    border: none;
    border-radius: 3px;
    font-size: 1.0rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    background-color: #CCCCCC;

}

.row__lcr--content--item {
    text-indent: 20px;

}

.header__nav--item--search {
    border-radius: 5px;
}

/*Màn hinh laptop và máy tính bảng*/
@media only screen and (min-width: 741px)  {
    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-m12 {
        width: 100%;
    }
}



